<div >
    <div class="card-header">
        <h1 class="display-5 text-primary text-center">{{event.name}}</h1>
    
        <div class="col-3"><button type="button" class="btn btn-dark" (click)="back()"> &lt;Back </button></div>
    <div >
        <div >
        <h6 class=" text-center">{{event.desc}}</h6>
       <h5>Candidates</h5>
        <hr>
        <div class="container">
            <div class="row">
              <div class="col">
               <strong>Candidate</strong> 
              </div>
              <div class="col">
                <strong> Gender</strong> 
              </div>
              <div class="col">
                <strong> Votes</strong> 
              </div>
            </div>
          </div>
          <hr>
          <div class="container" *ngFor="let c of candidates">
            <div class="row" >
              <div class="col">
               {{c.name}} 
              </div>
              <div class="col">
             {{c.gender}}
              </div>
              <div class="col">
               {{c.totalVotes}}
              </div>
            </div>
            <hr>
          </div>
    
</div>
  

    
</div>
    
  