
<div class="row">
    <div class="col-3"><button type="button" class="btn btn-dark" (click)="back()"> &lt;Back </button></div>
    
</div>
<div class="bg-light">
  <h1 class="display-5 text-primary text-center">Add Candidate</h1>
<div class="box row text-center" >
    <form [formGroup]="form" (ngSubmit)="addCandidate()">
        <div class="row">
            <h6 class="text-dark">Candidate Name :</h6>
            <div class="row-3">
            <input type="text" size="100" formControlName="name" required></div>
        </div>
        <br>
        <div class="row">
            <div class=col>
            <h6 class="text-dark">Gender:</h6></div>
            <div >
            <select type="select"  formControlName="gender"   required>
            <option value="male" size="100" selected="true">MALE</option>
            <option value="female">FEMALE</option>
            <option value="others">OTHERS</option></select>
        </div><br>
        </div><br>
        <br>
        <button type="submit" class="btn btn-primary">ADD</button>
    </form>
</div>

</div>
